body {
    margin: 0px;
  }
  /*navbar*/
  .nav-container {
    position: static;
    z-index: 3;
    top: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: #6dc9b7;
  }
  
  .navbar-logo {
    justify-self: center;
    margin-left: 35px;
    color: #fff;
    margin-top: 4vh;
    cursor: pointer;
  }
  
  .ver-compras {
    font-size: 35px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
  }
  
  /*banner varios*/
  .banner {
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-image: url("./img/munayFlyer.jpeg") ;
  }
  
  .banner-container {
    text-align:center;
    padding: 0;
  }
  
  .banner h1 {
    margin: 0;
    color: rgb(11, 0, 0);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 62px;
    font-weight: bold;
  }
  
  .banner p {
    text-align: center;
    font-size: 30px;
    color: rgb(3, 0, 0);
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  .bienvenido {
    text-align: center;
    font-size: 30px;
    opacity: 0.2;
    color: rgb(3, 0, 0);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

  }  

  /*tarjetas de productos */
  .shop-content {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(182, 182, 4, 0.2);
    max-width: 250px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 10px;
  }
  
  .card > img {
    width: 75%;
    height: 225px;
  }
  
  .valor {
    color: rgb(135, 3, 149);
    font-size: 22px;
  }
  
  .card button {
    border:#0a0909;
    outline: 0;
    padding: 12px;
    color: rgb(1, 14, 15);
    background-color: rgb(192, 170, 82);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.5;
  }
  
  /*contenedor de productos en carrito*/
  .modal-container {
    width: 70%;
    margin: 0 10%;
    max-height: 88vh;
    color: rgb(9, 0, 0);
    background-color: #6dc9b7;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
  }
  
  .modal-container::-webkit-scrollbar {
    display: none;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #84f7ee00;
    color: rgb(13, 5, 5);
    width: 50%;
  }
  
  .modal-header-title {
    justify-self: start;
  }
  
  .modal-header-button {
    cursor: pointer;
  }
  
  .modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 15px;
  }
  
  .modal-container > div > img {
    height: 100px;
    width: 100px;
  }
  
  .total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
  }
  @media only screen and (max-width: 750px) {
    .modal-container {
      width: 100%;
      margin: 0;
      min-height: 88vh;
    }
  
    .modal-container > .modal-content {
      justify-content: space-between;
      width: 100%;
      margin: 2px;
    }
  
    .modal-container > div > img {
      height: 80px;
      width: 80px;
    }
  }
  
  /*delete button product*/
  .trash{
    cursor: pointer;
  }
  
  /*productos en el carrito*/
  .cantidad-productos {
    background-color: rgb(16, 237, 222);
    color: rgb(249, 4, 4);
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
  }
  
  .mas {
    cursor: pointer;
  }
  
  .menos {
    cursor: pointer;
  }

  .finalizarCompra {
    cursor: pointer;
  }